.characters-container{
    border-style: solid;
    border-color:#8fef61;
}
.episodes-container{
    border-style: solid;
    border-color: #8fef61;
}
.locations-container{
    border-style: solid;
    border-color:#8fef61;
}
.home-container{
    border-style: solid;
    border-color:#8fef61;
    height: 500px;
}
.ul-element{
    list-style-type: none;
}